@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Rethink+Sans:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'F1 Atomic';
  src: url('/fonts/f1_atomic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-primary: 'F1 Atomic', sans-serif;
  --font-secondary: 'Ancizar Sans', sans-serif;
  --font-exile: 'Exile', sans-serif;
  --font-sansation: 'Sansation', sans-serif;
  --font-rethink: 'Rethink Sans', sans-serif;
  --font-mouse: 'Fjalla One', sans-serif;
  --font-rethink: 'Courier New', Courier, monospace;
  
}

body {
  background-color: #FAF9F6;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, nav a {
  font-family: 'Mouse Memoirs', sans-serif;
  letter-spacing: -0.02em;
}

p, span, a:not(nav a) {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: -0.006em;
}

.font-medium {
  font-weight: 400;
}

.font-semibold {
  font-weight: 400;
}

.font-bold {
  font-weight: 500;
}

.font-mouse {
  font-family: 'Mouse Memoirs', sans-serif;
}

.font-rethink {
  font-family: 'Rethink Sans', sans-serif;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #4285f4,
    #000000,
    #34a853,
    #000000,
    #4285f4
  );
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient 8s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
