@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'F1 Atomic';
  src: url('/fonts/f1_atomic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-primary: 'F1 Atomic', sans-serif;
  --font-secondary: 'var(--font-poppins)', sans-serif;
}

body {
  background-color: #FAF9F6;
  color: #000000;
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  letter-spacing: -0.02em;
  font-weight: 600;
}

p, span, a {
  letter-spacing: -0.006em;
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}
