@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Inter:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'F1 Atomic';
  src: url('/fonts/f1_atomic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-primary: 'F1 Atomic', sans-serif;
  --font-secondary: 'Ancizar Sans', sans-serif;
  --font-exile: 'Exile', sans-serif;
  --font-sansation: 'Sansation', sans-serif;
  --font-mouse: 'Mouse Memoirs', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  background-color: #FAF9F6;
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, nav a {
  font-family: 'Mouse Memoirs', sans-serif;
  letter-spacing: -0.02em;
}

p, span, a:not(nav a) {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.006em;
}

.font-medium {
  font-weight: 400;
}

.font-semibold {
  font-weight: 400;
}

.font-bold {
  font-weight: 500;
}

.font-mouse {
  font-family: 'Mouse Memoirs', sans-serif;
}
